<div class="context-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="context-head">
        <h2>Crash buckets</h2>
      </div>
      <div class="context-body">
        <div class="row">
          <div class="col-xs-12">
            <ul class="list-group" *ngFor="let bucketEl of crashBuckets">
              <a [routerLink]="['/buckets', bucketEl.name]"
                [state]="{data : { id : bucketEl.name}}">
                <li class="list-group-item">
                  <app-crash-bucket-item [bucket]="bucketEl">
                  </app-crash-bucket-item>
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
