
<div class="context-body">
<div class="row">
  <div style="text-align: center" class="col-xs-4">
    <h2>Total Crashes</h2>
    <h1>{{total}}</h1>
  </div>
  <div class="col-xs-8">
      <div class="row">
          <div class="col-xs-4"><h4 style="text-align:center">Bucket</h4></div>
          <div class="col-xs-4"><h4 style="text-align:center">Amount</h4></div>
          <div class="col-xs-4"><h4 style="text-align:center">%</h4></div>
        </div>


    <ul
    style="list-style-type: none;
        margin: 5px;
        padding: 0;"
    class="list-group"
    *ngFor="let bucket of buckets">
      <li>
       <ng-container>
         <div class="row">
           <div class="col-xs-4"> <p style="text-align:center">{{bucket.name}}</p></div>
           <div class="col-xs-4"><p style="text-align:center">{{bucket.items.length}}</p></div>
           <div class="col-xs-4"> <p style="text-align: center">{{ 100 * ( bucket.items.length  / (total)) | number:'2.1-2'}}%</p></div>
         </div>
         <hr style="margin: 0px;">
       </ng-container>
      </li>
    </ul>
  </div>
</div>
</div>
