<div class="row">
  <div class="col-xs-5">
    <app-crash-item-list [bucketType]="bucketType"></app-crash-item-list>
  </div>
  <div class="col-xs-7">
    <app-crash-item-details *ngIf="selectedCrashItem; else infoText" [crashItem]="selectedCrashItem">
    </app-crash-item-details>
    <ng-template #infoText>
      <div class="context-container">
        <div class="row">
          <div class="col-xs-12">
            <div class="context-body">
              <h3 style="text-align: center">Please select an item</h3>
            </div>

          </div>
        </div>
      </div>
    </ng-template>

  </div>

</div>
